body {
    background-image: linear-gradient(to left, #40d812, #059224);
    


}
a {
    background-color: #267539;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 40px 20px;
    cursor: pointer;
    border-radius: 40px;
    margin-top: 20px; /* зміщення вгору */
    margin-bottom: 1px; /* зміщення вниз */
    margin-left: 10px; /* зміщення вліво */
    margin-right: 20px; /* зміщення вправо */
}
 h1 {
    font-family: Arial, sans-serif;
    background-color: #1c9122;
    color: #000000;
 }
 p {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: #3e9443;
    color: #000000;
    font-size: 30px;
 }
