@import url('https://fonts.googleapis.com/css?family=Roboto:ital, wght@0,100;0,300;0,400;0,500;0,700;0,900;1, 100;1,300;1,400;1,500;1,700;1,900&display-swap');

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: Roboto;
    background-color: bisque;
background-color: aliceblue;
display: flex;
justify-content: center;
}

.item{
    min-width: 180px;
     min-height: 400px;
     margin-bottom: 10px;
     padding: 5px;
 
 
 
 
 }


.item-image {
    width: 200px;  /* Ширина зображення */
    height: auto;  /* Автоматичне коригування висоти для збереження пропорцій */
}
