@import url('https://fonts.googleapis.com/css?family=Roboto:ital, wght@0,100;0,300;0,400;0,500;0,700;0,900;1, 100;1,300;1,400;1,500;1,700;1,900&display-swap');

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: Roboto;
    background-color: bisque;
background-color: aliceblue;
display: flex;
justify-content: left;
}

.item{
    min-width: 180px;
     min-height: 400px;
     margin-bottom: 10px;
     padding: 5px;
 
 
 
 
 }


.item-image {
    width: 200px;  /* Ширина зображення */
    height: auto;  /* Автоматичне коригування висоти для збереження пропорцій */
}

.link-box {
    border: 2px solid rgb(45, 175, 214); /* Синя рамка */
    padding: 5px; /* Внутрішній відступ */
    display: inline-block; /* Щоб рамка обертала текст */
    text-decoration: none; /* Прибрати стандартне підкреслення посилання */
    color: inherit; /* Зберегти колір тексту */
    border-radius: 15px;
    background-color: rgb(43, 170, 212);
}

.link-box:hover {
    background-color: rgb(43, 170, 212); /* Додати фон при наведенні */
}